* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Updated class title, to match updates made in HTML */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
}

h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}
/* Updated 'seo' from class to ID, since it is so specific */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

#float-right {
    float: right;
    margin-left: 25px;
}
/* Updated float-right to ID, as there is only one instance where float right is being used */
/* consolidated 3 sections (.content sections) within main tag*/
/* updated .content class to 'content-section to better depict it to holding pieces of content */
/* updated each section to hold a class of .content, to better depict pieces of content from within the content section */
.content-section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* consolidated 3 sections (.benefits) within aside tag*/
/* updated .benefits class to 'benefit-section to better depict it to holding different benefits */
/* updated each section to hold a class of .benefits, to better depict different benefits from within the benefit section */
.benefits-section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Updated class title, to match updates made in HTML */
.benefits  {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Updated class title, to match updates made in HTML */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Updated class title, to match updates made in HTML */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    font-size: 36px;
}
img {
    max-height: 200px;
}
/* Updated class title, to match updates made in HTML */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Updated class title, to match updates made in HTML */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
 /* included 'footer' parent element as part of selector to avoid issues when adding additional h2s */
footer h2 {
    font-size: 20px;
}
